
.container-header {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;

  }
  
  .container-header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
  }
  
  .main-screen {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    height: 40vmin;
    pointer-events: none;
    margin-bottom: 20px;
  }
  
  .main {
    background-color: #f4f4f4; 
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .main-screen h1 {
    font-size: 2rem;
    font-family: "Russo One", sans-serif;
    color: #000;
    font-weight: 900;
    margin-top: -70px;
  }
  
  .main-screen p {
    display: flex;
    font-size: 1rem;
    color: #2a2a2a;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
  }
  
  .back {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 390px;
    position: fixed;
    bottom: 0;
    background-color: #1b1b1b;
    padding: 8px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  
  .footer img {
    width: 24px;
    height: 24px;
  }
  
  .footer p {
    margin: 0;
    color: #dedede;
    font-size: 0.8rem;
  }
  